# Временные аудио и медиа файлы
*.mp3
*.wav
*.json

# Лог-файлы
*.log
.ai_analyzer.log
.inotify_monitor.log
.modular_watch_and_transcribe.log

# API ключи
*.api_key
.deepgram_api_key
.nvidia_api_key

# Кэш
.deepgram_cache/
.hash_cache/
__pycache__/
*.pyc

# Конфигурационный файл
config.ini

# Другие файлы
.obsidian/